body{
	background-color:grey;
}

#top{
	z-index: 2;
	position:relative;
	background-color: lightblue;
	width: 100%;
	height: 75px;
	margin-top:-15px;
	margin-left:0px;
	margin-bottom:0em;
	border-style: solid;
	border-width: 5px;
	border-color: lightblue;
	border-bottom-color: grey;
	border-right-color: grey;
	border-left-color:grey;
}

#toptext{
	font-size: .75em;
	text-align:center;
	color:black;
	text-align: center;
}

#middle{
	z-index:2;
	float: left;
	position: relative;
	width: 100%;
	height: 50px;
	background-color: grey;
	border-style: solid;
	border-color: grey;
	margin-bottom:15px;
	color:white;
	text-align:center;
}
#middle a{
	color:white;
}
#body{
	z-index:1;
	background-position: 50% 100%;
	position: relative;
	margin:auto;
	width: 100%;
	height: 850px;
	background-color:white;
	text-align: center;
}